@import url("https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=IM+Fell+Great+Primer+SC&display=swap");
body {
  color: white;
  margin: 0%;
  padding: 0%;
  /* box-sizing: border-box; */
  background-color: #0c0b0b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0c0b0b), to(#272626));
  background-image: linear-gradient(to bottom, #0c0b0b, #272626);
  height: 100vh;
  /*  background-image: url("./Components/compImages.js/WallPaper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0;
  margin:0;
  position: relative;
  top: 0;
  background-size: cover;
  background-position:top; */
}

/* #root{
  height: 100%;
} */
html {
  height: 100vh;
  margin: 0%;
  padding: 0%;
}

/* .app{
  width: 100vw;
  height: 100vh;
} */
.homeBody {
  width: 100vw;
  height: 100vh;
}

.carousel-item-padding-40-px {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel-item-padding-40-px img {
  -webkit-box-shadow: 18px 25px 15px black;
          box-shadow: 18px 25px 15px black;
  width: 25%;
  margin: auto;
}

.logo {
  text-shadow: 3px 3px 3px black;
}

/* header {
  margin:0;

  background-color: rgb(12, 11, 11);;
  position: sticky;
  top: 0;
  z-index: 1;
} */
video {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.slide {
  width: 25%;
}

h1 {
  text-shadow: 3px 3px 3px black;
  position: absolute;
  top: 0;
  margin: 0%;
  padding: 0%;
  text-align: center;
  font-family: "Bungee Hairline", cursive;
  font-weight: 600;
  font-size: 3vw;
  width: 100%;
}

.logo {
  text-shadow: 3px 3px 3px black;
  text-align: start;
  font-family: "Bungee Hairline", cursive;
  font-size: 3vw;
}

h2 {
  font-family: "Bungee Hairline", cursive;
  font-size: 3vw;
}

h3 {
  font-family: "Bungee Hairline", cursive;
  font-size: 2vw;
}

p {
  text-shadow: 3px 3px 3px black;
  font-weight: bolder;
  font-family: "Bungee Hairline", cursive;
}

h3 {
  text-shadow: 3px 3px 3px black;
  font-family: "Bungee Hairline", cursive;
}

.nav-menu {
  position: fixed;
  padding: 0%;
  z-index: 1;
  font-size: 18px;
  background: rgba(0, 0, 0, 0);
  width: 300px;
  -webkit-transition: 850ms;
  transition: 850ms;
  /*  opacity:0.3; */
  /* background-color: white; */
  /* color: white; */
  /* display: flex; */
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /*  flex-direction: column; */
  -ms-flex-line-pack: center;
      align-content: center;
  /* top: 0%;
  right: 3%; */
}

.nav-menu div div {
  /* display: inline-block; */
  margin: 1vw;
  /*  margin-top: 25px; */
  color: white;
  background: rgba(0, 0, 0, 0.712);
  /* background-color: white; */
  /* font-size: 1vw; */
  font-family: "Bungee Hairline", cursive;
  font-weight: bolder;
  /* text-decoration: none; */
}

.NavBar {
  margin: 0.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-menu.active {
  display: none;
}

nav a:hover {
  font-size: 150%;
  -webkit-transition: 1s;
  transition: 1s;
}

.subNav {
  font-size: 14px;
  z-index: 1;
}

/* .instaContainer{
  position:absolute;
  top:0%;
  display: flex;
  justify-content: center;
  width: 100%;
} */
.instaIcon {
  font-size: 30px;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.carousel-container {
  margin: 0%;
  padding: 0%;
  z-index: 0;
  left: 5%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* box-shadow: 0px -1px 30px 0px rgba(237, 220, 237, 1); */
}

.instaIcon:hover {
  font-size: 50px;
  -webkit-transition: 1s;
  transition: 1s;
}

.VisionTitle {
  position: relative;
  top: 0 wv;
  text-align: center;
  /* width: 100%; */
}

.carousel-container2 {
  width: 100%;
}

.visionsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* width: 100%; */
}

.visionsDescriptions {
  /* width: 100%; */
  margin: auto;
}

.CarouselDiv {
  z-index: 1;
  margin: 2%;
  padding: 0%;
  height: 20hv;
}

.soulsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.soulsTitle {
  text-align: center;
}

.soulsText {
  text-align: center;
}

.soulsBox {
  width: 350px;
  height: 400px;
  border: 3px solid white;
}

.bioContainer {
  width: 50vw;
  height: 20vh;
  padding: 5%;
  margin: 2%;
  text-align: center;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 0;
  background-color: rgba(10, 7, 7, 0.753);
  -webkit-box-shadow: 5px 10px 8px black;
          box-shadow: 5px 10px 8px black;
}

.artistImage2 {
  border: 1px solid black;
  padding: 0%;
  -webkit-box-shadow: 5px 10px 8px black;
          box-shadow: 5px 10px 8px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3%;
  width: 320px;
  height: 500px;
}

.artistImage2 img {
  width: 100%;
  /*  height: 100% */
}

.artistBigContainer {
  background-image: url("./Components/compImages.js/WallPaper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  position: relative;
  top: 0;
  background-size: cover;
  background-position: top;
  width: 100vw;
  height: 100vh;
  background: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactForm {
  position: relative;
  top: 0vh;
}

.success-msg {
  font-size: 40px;
  font-weight: bolder;
  background-color: white;
  color: black;
  margin: 0;
}

.err-msg {
  margin: 0;
  font-size: 40px;
  font-weight: bolder;
  background-color: white;
  color: black;
}

.contactContainer,
.contactsLabels {
  text-align: center;
}

.contactContainer {
  margin-top: 0%;
}

#Full-name,
#email,
#message {
  width: 40%;
}

.d-inline-block {
  margin: 1%;
  width: 50px;
  height: 50px;
  border-radius: 200px 200px 200px 200px;
}

.slide:hover {
  font-size: 500px;
  /* -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);  */
}

a {
  text-decoration: none;
  color: white;
}

.prova {
  height: 333px;
  width: 333px;
}

.prova img {
  width: 100%;
  height: 100%;
}

.modalContainer {
  position: relative;
  margin-left: 20%;
}

.soulsItems img {
  margin: 2%;
}

.badge {
  color: #f02020;
  /*  border-radius: 50%; */
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}

.badge:hover {
  font-size: 80%;
  -webkit-transition: 1s;
  transition: 1s;
}

img.medium {
  max-width: 29rem;
  width: 100%;
}

/* .cardContainer{
  border: 0.1rem white solid;
  background-color: #19191d;
  border-radius: 0.5rem;
  margin: 1rem;
  
} */





.price {
  font: 2rem;
}

.rating span {
  color: gold;
  margin: 0.1rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid red;
  border-radius: 0,5rem;
}

.loading {
  text-align: center;
}

.large {
  width: 25vw;
  margin-left: 5vw;
}

.large img {
  width: 100%;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input,
select,
textarea,
button {
  cursor: pointer;
}

button.block {
  width: 100%;
}

select {
  margin-top: 50%;
}

.row .top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

input,
select,
textarea,
button:hover {
  border: 0.1rem yellow solid;
}

.BackButton:hover {
  width: 100%;
  display: block;
  -webkit-filter: sepia(100%) contrast(75%) saturate(500%) hue-rotate(-10deg);
          filter: sepia(100%) contrast(75%) saturate(500%) hue-rotate(-10deg);
}

.subtotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.col-1Cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.inCart {
  color: #f02020;
}

.smallCart {
  width: 100px;
}

.smallCart img {
  width: 100%;
}

.cartSelect {
  /* height: 10hw; */
}

.cartSelect select {
  margin-top: 150%;
}

.min-30 {
  min-width: 30 rem;
}

.col-2Cart {
  width: 100%;
  padding: 5%;
}

.shippingContainer {
  height: 100vh;
}

.check-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem;
}

.check-steps > div.active {
  border-top: 0.3rem red solid;
  color: red;
  font-weight: bold;
}

.continue {
  margin: 2vw;
  height: 4vw;
}

.continue h2 {
  margin: 0%;
  padding: auto;
}

.collaborationDiv {
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  position: relative;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("./Components/compImages.js/WallPaper.jpg");
  background-size: cover;
  background-position: top;
  background: cover;
}

.authContainer {
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  position: relative;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("./Components/compImages.js/WallPaper.jpg");
  background-size: cover;
  background-position: top;
  background: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 0;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(10, 7, 7, 0.753);
  width: 50vw;
  height: 55vh;
  padding: 0%;
  margin: 1%;
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: center;
  z-index: 1;
  -webkit-box-shadow: 5px 10px 8px black;
          box-shadow: 5px 10px 8px black;
}

.SignIn, .email {
  text-align: center;
  font-family: "Bungee Hairline", cursive;
}

.signinButton {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-family: "Bungee Hairline", cursive;
  text-align: center;
  margin: 1%;
}

.newCustomer {
  margin: 0;
}

.signin {
  margin: 0;
}

.form2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(10, 7, 7, 0.753);
  width: 50vw;
  height: 100vh;
  padding: 0%;
  margin: 1%;
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: center;
  z-index: 1;
  -webkit-box-shadow: 5px 10px 8px black;
          box-shadow: 5px 10px 8px black;
}

.loding {
  display: block !important;
}

.success {
  color: green;
}

.danger {
  color: red;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 1440px) {
  nav {
    margin: 0.5%;
    font-size: 13px;
  }
  .subNav {
    font-size: 10px;
  }
  .contactContainer {
    margin-top: 20%;
  }
  .visionsContainer {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  /* nav a:hover {
    font-size: 150%;
  } */
  nav {
    margin: 1%;
    font-size: 10px;
    top: 5%;
    left: 0%;
  }
  .subNav {
    font-size: 8px;
  }
  .visionsContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 30%;
    text-align: center;
    font-size: 12px;
  }
  .VisionTitle {
    text-align: center;
    top: 25%;
  }
  p {
    font-size: 10px;
  }
  .artistBigContainer {
    width: 80%;
    left: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .soulsContainer {
    margin-top: 10%;
  }
  .homeBody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .CarouselDiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fTxObr {
    width: 100% !important;
  }
  .instaIcon {
    color: black;
    font-size: 15px;
    margin-top: 6%;
  }
  .slide {
    width: 100vw;
  }
}

@media only screen and (max-width: 425px) {
  nav {
    font-size: 9px;
  }
  .visionsContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 30%;
    text-align: center;
  }
  .VisionTitle {
    text-align: center;
    top: 25%;
  }
  .soulsText {
    font-size: 9px;
  }
  .visionsDescriptions {
    height: auto;
  }
  .large {
    width: 80vw;
    margin: 10vw;
  }
  .large img {
    width: 100%;
  }
  .col-1 {
    width: 55vw;
    margin: auto;
  }
  .col-1 ul {
    text-align: center;
  }
}
/*# sourceMappingURL=App.css.map */